<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.ayantech.pushnotification">

<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->

    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name="ir.ayantech.pushnotification.activity.CustomizableDialogActivity"
            android:theme="@style/DialogActivity" />
        <activity
            android:name="ir.ayantech.pushnotification.activity.DownloadFileDialog"
            android:theme="@style/DialogActivity" />
        <activity android:name=".activity.IncomeMessageActivity" />

        <service android:name="ir.ayantech.pushnotification.core.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name=".helper.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
